.ecVYYe,
.W0LGoe,
.qOJvbb+img
{
    filter: blur(10px) grayscale(1);
    transition-duration: 0ms;
}

.ecVYYe:hover,
.W0LGoe:hover,
.qOJvbb+img:hover
{
    filter: blur(0) grayscale(0);
    transition-duration: 0.3ms;
}